!--------------------------------------------------------------------------------
! Start: Switch
!--------------------------------------------------------------------------------

no interface vlan[%vlan_id%]

!--------------------------------------------------------------------------------
! End: Switch
!--------------------------------------------------------------------------------
